 .u-section-1 {
  background-image: url("/images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-image-1 {
  width: 230px;
  height: 143px;
  margin: 0 auto 0 -16px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 265px 808px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  text-align: center;
  margin: 58px 653px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 608px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 388px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 208px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}